/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * myriad-pro:
 *   - http://typekit.com/eulas/00000000000000000001709e
 *   - http://typekit.com/eulas/00000000000000000001709f
 *   - http://typekit.com/eulas/00000000000000000001709b
 *   - http://typekit.com/eulas/00000000000000000001709a
 * myriad-pro-semi-condensed:
 *   - http://typekit.com/eulas/0000000000000000000170b3
 *   - http://typekit.com/eulas/0000000000000000000170ae
 *   - http://typekit.com/eulas/0000000000000000000170b0
 *   - http://typekit.com/eulas/0000000000000000000170b4
 * myriad-pro-semiextended:
 *   - http://typekit.com/eulas/00000000000000003b9ad2de
 *   - http://typekit.com/eulas/00000000000000003b9ad2df
 *   - http://typekit.com/eulas/00000000000000003b9ad2e2
 *   - http://typekit.com/eulas/00000000000000003b9ad2e3
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-08-06 05:33:06 UTC"}*/

@import url("p.css");

@font-face {
font-family:"myriad-pro-semi-condensed";
src:url("../l") format("woff2"),url("../d") format("woff"),url("../a_1") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"myriad-pro-semi-condensed";
src:url("../l_1") format("woff2"),url("../d_2") format("woff"),url("../a_2") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"myriad-pro-semi-condensed";
src:url("../l_3") format("woff2"),url("../d_1") format("woff"),url("../a_3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"myriad-pro-semi-condensed";
src:url("../l_2") format("woff2"),url("../d_3") format("woff"),url("../a_4") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"myriad-pro";
src:url("../l_4") format("woff2"),url("../d_4") format("woff"),url("../a_5") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"myriad-pro";
src:url("../l_8") format("woff2"),url("../d_5") format("woff"),url("../a_6") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"myriad-pro";
src:url("../l_5") format("woff2"),url("../d_7") format("woff"),url("../a_7") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"myriad-pro";
src:url("../l_6") format("woff2"),url("../d_6") format("woff"),url("../a_8") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"myriad-pro-semiextended";
src:url("../l_7") format("woff2"),url("../d_9") format("woff"),url("../a") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"myriad-pro-semiextended";
src:url("../l_10") format("woff2"),url("../d_8") format("woff"),url("../a_10") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"myriad-pro-semiextended";
src:url("../l_11") format("woff2"),url("../d_10") format("woff"),url("../a_11") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"myriad-pro-semiextended";
src:url("../l_9") format("woff2"),url("../d_11") format("woff"),url("../a_9") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

.tk-myriad-pro-semi-condensed { font-family: "myriad-pro-semi-condensed",sans-serif; }
.tk-myriad-pro { font-family: "myriad-pro",sans-serif; }
.tk-myriad-pro-semiextended { font-family: "myriad-pro-semiextended",sans-serif; }
